<nav>
    <h1><a href="/">Profesores pirámide</a></h1>
    <div>
        <a href="/form">Nuevo profesor</a>
        <form action="/" method="get">
            <input type="text" name="busqueda" placeholder="Buscar profesor">
            <input type="submit" value="Buscar">
        </form>
    </div>
</nav>